{% extends 'gui/base.html' %}

{% block content %}
{% include 'gui/components/import-navbar.html' %}

<div class="container">

    <div class="row">
        <span class="text-danger fw-bold  text-center">
            ABOUT
        </span>
        <p class="text-success  text-center">
            Website belonging to <a href="https://vazuta.com" class="link-info ">Vazuta team</a> .
        </p>
        <p class=" text-center">
            Similar website: tailau.net
        </p>
        <p class="text-danger">
            <span class="fw-bold">
                disclaimer :
            </span>
            Every file in this web is collected from many different sources. We are not responsible for copyright issues
            and related litigation and harm caused by apps.
            
        </p>
        <p>
            <span>
                Everyone can admin through:
            </span>
            
        </p>
        <div class="text-center">
            <i class="bi-facebook"><a href="https://www.facebook.com/phatkervazuta">Nguyen Hoang Anh</a></i>
            <i class="bi-telegram"><a href="https://www.facebook.com/phatkervazuta">Phatker Việt Nam</a></i>
        </div>
    </div>

</div>

{% endblock content %}