{% extends 'gui/base.html' %}
{% load static %}

{% block content %}



{% include 'gui/components/import-navbar.html' %}

{% include 'gui/components/import-event.html' with apps=app_new%}
<div class="container pt-4">
    <div class="row pb-5">
        <div class="pb-5">
            <div class="card shadow-lg border-0">
                <div class="card-title fw-bold fs-4 ps-3 animate-charcter">
                    <span>
                        GAME MOBILE
                    </span>
                </div>
                <div class="main">
                    <div class="row gr-view">
                        {% for app in app_new %}
                        <div class="col-sm-6 mb-2">
                            <div class="d-flex align-items-center p-2" >
                                <div class="wh64 mr-2 flex-shrink-0">
                                    <img class="logo" width="64" height="64"
                                        src="/media/{{ app.appLogo }}">
                                </div>
                                <div class="d-block">
                                    <div class="text-truncate d-block mb-1"><a class="fw-bold" href="/view/{{ app.id }}" style="display: block;
                                        white-space: nowrap;overflow: hidden;
                                        text-overflow: ellipsis">{{ app.appName }}</a>
                                    </div>
                                    <div class="text-muted text-truncate">
                                        <span style="display: block;
                                            white-space: nowrap;overflow: hidden;
                                            text-overflow: ellipsis">{{ app.appPublisher }}</span>
                                    </div>
                                    <div class="text-muted">
                                        <span>{{ app.appVersion }}</span>
                                    </div>
                                    <div class="download-item-type">
                                        <span
                                            class="badge rounded-pill bg-success px-2 fs-10">{{ app.appsystem }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% endfor %}
                    </div>
                </div>
                <div class="card-footer">
                    <a href="/app/game_mobile">xem thêm</a>
                </div>


            </div>
        </div>

        <div class="pb-5">
            <div class="card shadow-lg border-0">
                <div class="card-title fw-bold fs-4 ps-3">
                    <span>
                        APP MOBILE
                    </span>
                </div>
                <div class="main">
                    <div class="row row-cols-2 gr-view">
                        {% for app in app_Mobile %}
                        <div class="col stretch-card grid-margin">
                            <div class="card border-0">
                                <div class="card-body">
                                    <div class="row row-cols-2">
                                        <div class="col-4">
                                            <img src="media/{{ app.appLogo }}" alt="" class="logo">
                                        </div>

                                        <div class="col-xl-6">

                                            <a class=" row fw-bold" href="/view/{{ app.id }}" style="display: block;
                                                white-space: nowrap;overflow: hidden;
                                                text-overflow: ellipsis">{{ app.appName }}</a>
                                            <span class='row' style="display: block;
                                            white-space: nowrap;overflow: hidden;
                                            text-overflow: ellipsis">{{ app.appPublisher }}</span>
                                            <span class="text-warning row" style="display: block;
                                            white-space: nowrap;overflow: hidden;
                                            text-overflow: ellipsis">{{ app.appVersion }}</span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="card-footer">
                    <a href="/app/app_mobile">xem thêm</a>
                </div>


            </div>
        </div>

        <div class="pb-5">
            <div class="card shadow-lg border-0">
                <div class="card-title fw-bold fs-4 ps-3">
                    <span>
                        GAME PC
                    </span>
                </div>
                <div class="main">
                    <div class="row row-cols-2 gr-view">
                        {% for app in app_Pc %}
                        <div class="col stretch-card grid-margin">
                            <div class="card border-0">
                                <div class="card-body">
                                    <div class="row row-cols-2">
                                        <div class="col-4">
                                            <img src="media/{{ app.appLogo }}" alt="" class="logo">
                                        </div>

                                        <div class="col-xl-6">

                                            <a class=" row fw-bold" href="/view/{{ app.id }}" style="display: block;
                                                white-space: nowrap;overflow: hidden;
                                                text-overflow: ellipsis">{{ app.appName }}</a>
                                            <span class='row' style="display: block;
                                            white-space: nowrap;overflow: hidden;
                                            text-overflow: ellipsis">{{ app.appPublisher }}</span>
                                            <span class="text-warning row" style="display: block;
                                            white-space: nowrap;overflow: hidden;
                                            text-overflow: ellipsis">{{ app.appVersion }}</span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="card-footer">
                    <a href="/app/game_pc">xem thêm</a>
                </div>


            </div>
        </div>

    </div>
</div>

{% comment %} {% include 'gui/components/import-toast.html' %} {% endcomment %}



{% endblock content %}