<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NEW - AppShare</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</head>


<link rel="stylesheet" href="css/index.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap" rel="stylesheet">




<body>

    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand px-md-5 animate-charcter" href="#"
                    style="font-family: 'Oswald', sans-serif; font-size: 40px;">AppShare</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">App</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">About</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>

            </div>
        </nav>
    </div>


    <div class="nav-hot pb-5">
        <div class="container">
            <div class="row">
                <h3 class="col-1 pt-2 fw-bold">HOT</h3>
                <div class="col">
                    <marquee behavior="" direction="event" class="bg-dark p-3 text-danger shadow-lg fw-bold">
                        Welcome to AppShare. Have a nice visit
                    </marquee>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="card thum-app shadow">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <img src="asset/img1.jpg" alt="" class="logo-img border-2">
                                </div>
                                <div class="col">
                                    <div class="card-title">
                                        <span class="fw-bold">Minecraft PE</span>
                                    </div>
                                    <div class="row">
                                        <div class="col-3 badge bg-danger">
                                            hot
                                        </div>
                                    </div>
                                    <div class="row" style="background-color: rgba(153, 153, 153, 0.568);">
                                        <p class="fw-bold"> đây là phần mô tả</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card thum-app  shadow-lg">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <img src="asset/img1.jpg" alt="" class="logo-img border-2">
                                </div>
                                <div class="col">
                                    <div class="card-title">
                                        <span class="fw-bold">Minecraft PE</span>
                                    </div>
                                    <div class="row">
                                        <div class="col-3 badge bg-danger">
                                            hot
                                        </div>
                                    </div>
                                    <div class="row" style="background-color: rgba(153, 153, 153, 0.568);">
                                        <p class="fw-bold"> đây là phần mô tả</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card thum-app  shadow-lg">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <img src="asset/img1.jpg" alt="" class="logo-img border-2">
                                </div>
                                <div class="col">
                                    <div class="card-title">
                                        <span class="fw-bold">Minecraft PE</span>
                                    </div>
                                    <div class="row">
                                        <div class="col-3 badge bg-danger">
                                            hot
                                        </div>
                                    </div>
                                    <div class="row" style="background-color: rgba(153, 153, 153, 0.568);">
                                        <p class="fw-bold"> đây là phần mô tả</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>

    <div class="container">
        <div class="main">
            <div class="row row-cols-2">
                <div class="col">

                </div>

                <div class="col">
                    <div class="card">
                        shdfkfkl
                    </div>
                </div>
            </div>
        </div>
    </div>

</html>